WeekendProject/babyReader filter=lfs diff=lfs merge=lfs -text
NeuralNetworkDepreciated.zip filter=lfs diff=lfs merge=lfs -text
NeuralNetwork/blueBoostNet filter=lfs diff=lfs merge=lfs -text
NeuralNetwork/hogNet filter=lfs diff=lfs merge=lfs -text
NeuralNetwork/tensorNet filter=lfs diff=lfs merge=lfs -text
NeuralNetwork/xcannyNet filter=lfs diff=lfs merge=lfs -text
